body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    color: #FFE;
    background-color: #343;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

#menu {
    margin-left:10px;
    margin-right:10px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#home .profile-img {
    width: 300px;
    border-radius: 50%;
    border: 1px;
}

footer {
    text-align: center;
    padding: 8px;
    padding-top: 2px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;

    color: #EEF;
    background-color: #353;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration: none;
    /*color: black;*/
    color: #FFE;
}


#home {
    background-image: linear-gradient(
                        rgba(255,255,255,0.75),
                        rgba(255,255,255,0.75)
                      ),
                      url('https://abaklihukuk.com/images/IdareVergiHukuk.jpg');
}

#about {
    background-image: linear-gradient(
                        rgba(255,255,255,0.75),
                        rgba(255,255,255,0.75)
                      ),
                      url('https://47n8bl1dyyok2q77ax3pt4r9-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/payroll-tax-services-848x423.jpg');
}

#about h3 {
    color: #333;    
}

#contact {
    background-image: linear-gradient(
                        rgba(255,255,255,0.75),
                        rgba(255,255,255,0.75)
                      ),
                      url('https://www.nonprofithr.com/wp-content/uploads/2015/07/Dollarphotoclub_84462517.jpg');
}

